---
import Navbar from "../components/Navbar.jsx";
import Carousel from "../components/Carousel.jsx";
import Cards from "../components/Cards.jsx";
import JoinOurTeam from "../components/JoinOurTeam.jsx";
import SearchBar from "../components/SearchBar.jsx";
import JobOpenings from "../components/JobOpenings.jsx";
import "../styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>CYMETRIA JOBS</title>
    <style>
      body {
        margin: 0;
        font-family: "Arial", sans-serif;
        background: #fafafa;
      }
    </style>
  </head>
  <body>
    <Navbar />
    <Carousel />
    <Cards />
    <JoinOurTeam />
    <SearchBar />
    <JobOpenings />
  </body>
</html>
